/*-----breadcrumbs-----*/
.kama_breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: 6px;
	.kb_link,
	.kb_title {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 12px 20px;
		font-size: 17px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		color: var(--font-color);
		border-radius: 10px;
		background-color: var(--grey-color);
		transition: .3s ease;
	}
	.kb_link:hover {
		color: var(--white-color);
		background-color: var(--global-color);
	}
	.kb_sep {
		display: inline-flex;
		vertical-align: middle;
		position: relative;
		margin: auto 14px;
		width: 28px;
		height: 28px;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 28px;
			height: 28px;
			background-image: url('../img/icons/arrow-right.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

@include tablet {
	.kama_breadcrumbs {
		.kb_link,
		.kb_title {
			padding: 10px 12px;
			font-size: 13px;
			line-height: 14px;
		}
		.kb_sep {
			margin: auto 6px;
			width: 16px;
			height: 16px;
			&::after {
				width: 16px;
				height: 16px;
			}
		}
	}
}

@include mobile {
	.kama_breadcrumbs {
		.kb_link,
		.kb_title {
			padding: 6px 8px;
			font-size: 12px;
			line-height: 12px;
			border-radius: 6px;
		}
		.kb_sep {
			width: 14px;
			height: 14px;
			&::after {
				width: 14px;
				height: 14px;
			}
		}
	}
}