/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 20px 44px;
	min-height: 66px;
	text-align: center;
	color: var(--white-color);
	font-size: 22px;
	line-height: 22px;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid transparent;
	outline: none;
	border-radius: 10px;
	background-color: var(--global-color);
	transition: .3s ease;
	&:hover {
		color: var(--global-color);
		border-color: var(--global-color);
		background-color: transparent;
	}
	&.disabled {
		opacity: 0.5;
		cursor: auto;
	}
}

@include tablet {
	.button {
		padding: 12px 44px;
		min-height: 50px;
		font-size: 18px;
		line-height: 18px;
	}
}