/*----header-----*/
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 36px 0;
  width: 100%;
  z-index: 500;
  .logo {
    flex-shrink: 0;
    width: 280px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@include desktop {
  .header {
    padding: 16px 0;
    .logo {
      width: 180px;
    }
  } 
}

@include tablet {
  .header {
    padding: 12px 0;
    .logo {
      width: 150px;
    }
  } 
}

@include mobile {
  .header {
    .logo {
      width: 130px;
    }
  } 
}