/*-----title----*/
.page-title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 64px;
	font-weight: 600;
	line-height: 1.2;
	color: var(--global-color);
}
.section-title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 54px;
	font-weight: 600;
	line-height: 1.2;
	color: var(--global-color);
}

@include desktop {
	.page-title {
		font-size: 48px;
	}
	.section-title {
		font-size: 36px;
	}
}

@include tablet {
	.page-title {
		font-size: 36px;
	}
	.section-title {
		font-size: 24px;
	}
}

@include mobile {
	.page-title {
		font-size: 28px;
	}
	.section-title {
		margin-bottom: 16px;
		font-size: 22px;
	}
}