<!-- Script-->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/select2.min.js"></script>

<!-- <script src="js/readmore.min.js"></script> -->

<!-- Yandex Map -->
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=<5a55f487-a252-4929-8714-ec32f386f97c>" type="text/javascript"></script>
<script src="js/icon_customImage.min.js"></script>
<script src="js/app.min.js"></script>